.idea/*
/build/
.pixi/
# pixi environments
.pixi/*
!.pixi/config.toml
.DS_Store
__pycache__
logs/*.log
navigator/web_viewer/node_modules/
navigator/web_viewer/.tsbuildinfo
navigator/web_viewer/dist/viewer.js
